#experience {
    .timeline-list {
        position: relative;

        list-style-type: none;

        &:before {
            position: absolute;
            z-index: 400;
            left: 29px;

            display: inline-block;

            width: 2px;
            height: 100%;

            content: ' ';

            background: $timeline-list__line-color;
        }

        &-item {
            margin: 20px 0;
            padding-left: 20px;

            transition: 300ms;

            .timeline-list-item__title,
            .timeline-list-item__lasting {
                margin: 0;
            }

            .timeline-list-item__title {
                font-size: $timeline-list-item__title__font-size;
            }

            .timeline-list-item__lasting {
                font-size: $timeline-list-item__lasting__font-size;
            }



            p {
                span {
                    @extend .bold;
                }
            }

            &:before {
                position: absolute;
                z-index: 400;
                left: 20px;

                display: inline-block;

                width: 20px;
                height: 20px;

                content: ' ';
                transition: 250ms;

                border-width: $timeline-list__point-border-width;
                border-style: solid;
                border-color: $timeline-list__point-color;
                border-radius: 50%;
                background: white;
            }

            &:hover {
                padding-left: 30px;

                .timeline-list-item__title {
                    color: $timeline-list-item__title__font-color--hover;
                }

                &:before {
                    border-width: $timeline-list-item__point-border-width--hover;
                    border-color: $timeline-list-item__point-color--hover;
                }
            }
        }
    }
}