#skills {
    .skills-list {
        .skills-list-item {
            margin-top: 20px;
            margin-bottom: 40px;
            padding: 0 20px;

            @media only screen and (min-width: $cut) {
                margin-top: 0;
                padding: 0;
            }

            &__title {
                margin-top: 0;
                padding-top: 0;

           
            }

            &__icons {
                text-align: center;

                @media only screen and (min-width: $cut) {
                    text-align: left;
                }

                .icon {
                    font-size: 75px;

                    display: inline-block;

                    margin: 10px;

                    @media only screen and (min-width: $cut) {
                        margin: 0 40px 20px 0;
                    }
                }
            }
        }
    }
}