#skills
{
    .devicons-list
    {
        h3
        {
            text-align: center;
            @media only screen and (min-width:$cut)
            {
                text-align: left;
            }
        }
        .devicon
        {
            font-size: 75px;

            display: inline-block;

            margin: 0 40px 20px 0;
        }
    }
}
