<h1>Обо мне</h1>
<p> {{site.user_description}} </p>
<div class="bootstrap-wrapper">
    <div class="info-list row">
        <div class="col-sm-6"><span>ФИО : </span>Миронов Владислав Владимирович</div>
        <div class="col-sm-6"><span>Дата рождения : </span>16.08.1990</div>
        <div class="col-sm-6"><span>Место проживания : </span>Республика Татарстан, г. Казань</div>
        <div class="col-sm-6"><span>Высшее образование : </span>Закончил ФГАОУ ВО «Казанский (Приволжский) федеральный университет» по специальности "Математические методы в экономике" в 2013 году</div>
        <div class="col-sm-12">
            <hr>
        </div>
        <div class="col-sm-6"><span>Email : </span><a href={{site.social_link__email}}>vmironov16@gmail.com</a></div>
        <div class="col-sm-6"><span>Телефон : </span><a href={{site.social_link__tel}}> + 7 999 - 155 - 40 - 16</a></div>
        <div class="col-sm-6"><span>Skype : </span><a href={{site.social_link__skype}}>live:mibookprogtx</a></div>
    </div>
</div>